* {
  box-sizing: border-box;
}

body {
  background-color: #0A1034;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;

  overflow-y: hidden;
  overflow-x: hidden;

}

h1 {
  color: white;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.board {
  width: 636px; 
  height: 636px;
  position: relative;
  
  border: 4px solid #FFFFFF;
  padding: 12px; 
  background-color: #0A1034;
}

.board::after {
  content: "";
  position: absolute;
  top: 212px;    
  right: -4px;  
  width: 4px;
  height: 100px;
  background-color: #0A1034; 
}

.grid-container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  position: relative;
}

.cell {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0; 
}

.carroVermelho {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background-color: #E50914;
  border-radius: 6px;
  z-index: 2; 
}

.carroVermelho.horizontal.head {
  right: -6px; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.carroVermelho.horizontal.tail {
  left: -6px; 
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cell::after {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  z-index: 1;
}

.cell:nth-child(6n)::after,
.cell:nth-child(n+31)::after {
  display: none;
}